/* Large screens ----------- */
@media only screen and (max-width : 958px) {
    /* Styles */
    .logo {
        margin: 0 16px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width : 768px) {
    /* Styles */
    .logo {
        height: 60px;
        margin: 3px;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
    .logo {
        height: 50px;
        margin: 10px;
    }
}


